.App {
  text-align: center;
  
}

.Dice-Together {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Click-Button {
  text-align: center;
 
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  font-size: 1.5em;
}

.Dice-Spin {
  animation: Dice-Spin-Anim infinite 0.25s linear;
  height: 7em;
  background-color: white;
}

.Dice-Img {
  height: 7em;
  background-color: white;
}

.Dice-Border-Held {
  
  height: 9em;
  padding: 0.5em;

  border-width:0.3em;
  background-color: yellow;
  border-style: solid;
  
}

.ScoreBoard {
  
  border-width:0.3em;
  background-color: white;
  border-color: red;
  border-style: outset;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14em;

  border-collapse:collapse;
  border:2em outset #FF0000;
}

.ScoreBoard-Cell {
  width: 7em;
  border:0.1em solid #FF0000;
  text-align: left;
  font: 'courier';
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-size: 1.2em;
}

.Dice-Border-None {
  height: 9em;
  padding: 0.5em;
  
  border-width:0.3em;
  background-color: white;
  color:white;
  border-style: solid;
  border-color:white;
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-dice{
  font-size: large;
}

@keyframes Dice-Spin-Anim {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
