.App {
  text-align: center;
}

.Dice-Spin {
  animation: Dice-Spin-Anim infinite 0.3s linear;
  height: 80px;
  padding: 5px;
  background-color: white;
}

.Dice-Img {
  height: 80px;
  padding: 5px;
  background-color: white;
}

.Dice-Border-Held {
  padding: 8px;
  height: 10px;
  background-color: yellow;
  border-style: solid;
}

.Dice-Border-None {
  padding: 8px;
  height: 10px;
  background-color: white;
  border-style: solid;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-dice{
  font-size: large;
}

@keyframes Dice-Spin-Anim {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
